.vacancy-form {
  width: calc(100vw  - 150px);
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .name-age {
  display: grid;
    gap: 20px;
    grid-template-columns: 60% 1fr;
    @media (max-width: 768px ) {
      grid-template-columns: 100%;
    }

  }
  .phone-email {
    display: grid;
    gap: 20px; max-width: 100%;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 768px ) {
      grid-template-columns: 100%;
    }

  }
  .certificates-label {
    padding-bottom: 8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #878787;
  }

  button {
    min-height: 46px;
    width: 300px;
    border: 2px solid var(--primary-orange);
    border-radius: 10px;
    background-color: var(--primary-orange);
    font-style: normal;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 24px;
    transition: 0.3s all;
    margin: 20px auto 0;
  }
}