header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  .header {
    * {
      user-select: none;
    }
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav_link {
      padding-bottom: 5px;
      margin: 10px;
      font-variant: all-small-caps;
      transition: 0.3s all;
      border-bottom: 2px solid transparent;
      &.active {
        color: var(--primary-blue);
        border-bottom: 2px solid var(--primary-blue);
      }
    }
  }
}
.header-bg {
  position: fixed;
  width: 100vw;
  z-index: 4;
  height: 110px;
  //background: rgb(238,242,242);
  background: linear-gradient(180deg, rgba(238,242,242,1) 0%, rgba(238, 242, 242, 0.68) 60%, rgba(238,242,242, 0) 100%);
}
